<header class="header">
    <h1 class="header-text">Bienvenidos al Misterio de los tres robots</h1>
</header>
<img class="butler-image" src="assets/images/butler.png" />
<div class="text">
    <p>
        ¡Hola!
         Este sencillo juego basado en diálogos es un ejemplo de uso de un modelo de aprendizaje automático dentro de una aplicación web. Puede consultar el código origial en
        <a class="link" target="_blank" href="https://github.com/google/mysteryofthreebots">https://github.com/google/mysteryofthreebots</a>.
    </p>
    <p>
        El modelo que utiliza se llama Universal Sentence Encoder Lite y está disponible en
        <a class="link" target="_blank" href="https://tfhub.dev/google/universal-sentence-encoder-lite/2">Tensorflow Hub</a>.
    </p>
    <p>
        Una herramienta útil para crear juegos basados en diálogos es Semantic Reactor, un complemento de Google Sheets que permite experimentar con modelos lingüísticos 
      aprendidos por máquinas. Para obtener más información, visite la página de Google Cloud
        <a class="link" target="_blank" href="https://cloud.google.com/ai-workshop">AI Workshop Page</a>.
    </p>
    <p>
        Para volver a ver esta pantalla, sólo tiene que recargar el juego en tu navegador. Y ahora... ¡a seguir con el juego!
    </p>
</div>
<app-dialog-close-button buttonText="Continuar"></app-dialog-close-button>
